<StackLayout>
    <GridLayout rows="auto" columns="*,*">
        <Button text="Your Locker" [nsRouterLink]="['/home']"
                nsRouterLinkActive="active font-weight-bold"
                [nsRouterLinkActiveOptions]="{exact: true}"
                class="btn" row="0" col="0"></Button>
        <Button text="Edit Collection" [nsRouterLink]="['/home/edit']"
                nsRouterLinkActive="active font-weight-bold"
                class="btn" row="0" col="1"></Button>
    </GridLayout>
    <StackLayout>
        <router-outlet></router-outlet>
    </StackLayout>
</StackLayout>